DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=replace_with_your_password
DB_DATABASE=library_management
DB_SYNCHRONIZE=true
DB_SSL=false
# For Aiven, set DB_SSL=true and DB_SSL_CA to the provider's CA certificate.